.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: hsl(0, 100%, 74%);
    background-image: url('./images/bg-intro-desktop.png');
}

h2 {
    font-size: 2.5rem;
    font-family: 'Poppins';
    font-weight: 700;
    color: white;
}

h3 {
    font-size: 1rem;
    font-family: 'Poppins';
    font-weight: 700;
    color: white;
}

p {
    font-size: 1rem;
    font-family: 'Poppins';
    font-weight: 400;
    color: white;
}

.mainFlexContainer {
    border-radius: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.flexContainerColumnLeft {
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    max-width: 40vw;
    padding: 2rem;
}

.flexContainerColumnRight {
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 40vw;
    padding: 2rem;
}

.topHeader {
    background-color: hsl(248, 32%, 49%);
    margin-bottom: 2rem;
    border-radius: 0.5rem;
}

.signupForm {
    background-color: white;
    padding: 2rem;
    padding-right: 2rem;
    border-radius: 0.5rem;
}

.hidden {
    visibility: hidden;
}

.formVerification {
    text-align: right;
    font-size: 0.8rem;
    font-weight: 600;
    color:  hsl(0, 100%, 74%);
    margin: 0;
    margin-top: .2rem;
    padding-right: 2rem;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 1rem 1rem;
    border: 1px solid #9c9c9c;
    border-radius: 0.2rem;
    box-sizing: border-box;
    outline: none;
}

input[type=text]:focus {
    border: 1px solid #000000;
    outline: none;
  }

.textAlignRight {
    text-align: right;
}  

.iconError {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    right: 1.5rem;
    top: 2.5rem;
}

.button {
    font-size: 1rem;
    font-family: 'Poppins';
    font-weight: 400;
    width: 100%;
    margin-top: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: hsl(154, 59%, 51%);
    border: none;
    border-radius: 0.5rem;
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.button:hover {
    background-color: hsl(154, 73%, 61%);

}

.notification {
    font-size: 0.8rem;
    color: hsl(246, 25%, 77%);
}

.termsAndServices {
    font-size: 0.8rem;
    font-weight: 700;
    color: hsl(0, 100%, 74%);
}

.shadow {
    -webkit-box-shadow: -0px 8px 0px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: -0px 8px 0px 0px rgba(0, 0, 0, 0.3);
    box-shadow: -0px 8px 0px 0px rgba(0, 0, 0, 0.3);
}

.smallShadow {
-webkit-box-shadow: -0px 5px 0px 0px rgba(0, 73, 6, 0.6);
-moz-box-shadow: -0px 5px 0px 0px rgba(0, 73, 6, 0.6);
box-shadow: -0px 5px 0px 0px rgba(0, 73, 6, 0.6);
}

@media (max-width: 760px) {
    body {
        width: 100vw;
        padding: 0;
        margin: 0;
        height: auto;
        background-image: url('./images/bg-intro-mobile.png');
    }

    .mainFlexContainer {
        padding: 0;
        margin: 0;
        flex-direction: column;
        justify-content: start;
    }

    .flexContainerColumnLeft {
        max-width: 80vw;
        text-align: center;
    }

    .flexContainerColumnRight {
        max-width: 80vw;
    }
}